.block-box {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: solid .1px royalblue;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 5px;
  text-align: center;
}

.password-data{
  display: flex;
  flex-direction: row;
}
.log-text {
  font-size: medium;
}
.pw-text {
  font-size: medium;
  margin-right: 5%;
}

.id-text {
  font-size: medium;
  margin-right: 5%;
}

.delete{
  color: white;
  cursor: pointer;
  padding: 5px;
}
.copy{
  color: white;
  cursor: copy;
  padding: 5px;
}

.delete:hover{
  color: red;
}
.copy:hover{
  color: royalblue;
}