.cnp-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upper h1{
    cursor: not-allowed;
}

.back_btn{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border: grey 1px solid;
    transition: all .5s ease-in-out;
}

.back_btn:hover{
    font-size: larger;
    border: royalblue 2px solid;

}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checks{
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 20px;
}

.generate_btn{
    margin-top: 25px;
    border: 1px grey solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    opacity: .65;
    padding: 10px;
    color: black;
    transition: all .5s ease-in-out;
    font-size: medium;
}

.generate_btn:hover{
   font-size: larger;
}
