.cnp-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper h1 {
  cursor: not-allowed;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checks {
  display: flex;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  margin-top: 20px;
}

.checks .check {
  color: white;
  font-size: 1.5rem;
}

.generate_btn {
  margin-top: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  color: white;
  transition: all 0.4s ease-in-out;
  font-size: larger;
  border: 1px solid white;
}

.generate_btn:hover {
  background-color: rgb(40, 40, 52);
  border: solid 1px royalblue;
}

.inputs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
