.title-box{
    justify-self:flex-start;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
}

.landing-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

