.landing-container{
    padding: 5px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80%;
}

.title-box{
    justify-self:flex-start;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.landing-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

