.suggestions-container{
    border: grey solid 1px;
    border-radius: 12px;
    width: 25%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}