.input {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  transition: all 0.5s ease-in;
  margin-right: 20px;
}

.input:hover {
  border: 1px solid red;
}

.input::before {
  border: 1px solid royalblue;
}

.input::after {
  border: 1px solid royalblue;
}
