.block-box {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: solid .1px royalblue;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 5px;
  text-align: center;
}

.password-data{
  display: flex;
  flex-direction: row;
}
.log-text {
  font-size: medium;
}
.pw-text {
  font-size: medium;
  margin-right: 5%;
}

<<<<<<< HEAD
.id-text {
  font-size: medium;
  margin-right: 5%;
}
=======
.functionality svg{
  margin: 5px;
}
.copy-btn{
  cursor: copy;
}
.copy-btn:hover{
  color: royalblue;
}
.delete-btn{
  cursor: pointer;
}
.delete-btn:hover{
  color: red;
}
>>>>>>> 1.0-setup
