.block-box {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border: solid .1px royalblue;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 5px;
}
.log-text {
  font-size: medium;
}
.pw-text {
  font-size: medium;
  margin-right: 5%;
}

.id-text {
  font-size: medium;
  margin-right: 5%;
}
