.pw-cont{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto ;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.cnp-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.passwords-listing{
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}